body
{
    box-sizing: border-box; /*box-sizing box-sizing box-sizing box-sizing box-sizing box-sizing*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}

.idcard
{
   max-width: 320px;
   width: 100%; 
   height: 60vh;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
   box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.1);
   border-radius: 24px;
   padding: 25px;
   position: relative;
  

}

#fuld:hover{
    font-size: 18px;
    transition: 1s;
}

.idcard::before
{
    content: "";
    position: absolute;
    height: 25%;
    width: 100%;
    background-image: url();
    background-color: #4070f4;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 24px 24px 0 0;
}


.image
{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0);
    border: solid #4070f4;
    margin-bottom: 10px;
    margin-top: 10px;
   
    
}

.profile-img
{
    height: 96%;
    width: 94%;
    object-fit: cover; /*object-fit object-fit object-fit object-fit*/
    border: 3px white solid;
    border-radius: 50%;
    background-color: #c0d6fff8;
    
    
    
    
    

}
 .profile-img:hover
 {
    box-shadow: 0px 0px 30px rgb(33, 6, 99);
    
    
 }

.text-data
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idcard .text-data .name
{
    font-size: 22px;
    font-weight: 500; /*font-weight font-weight font-weight font-weight */
    transition: .5s;
    margin-bottom: 10px;
    color: #0044ff;
}
.job{
    margin-bottom: 10px;
}

.job{
    color: #027916;
    font-size: 20px;
}

.idcard .text-data .name:hover
{
    color: rgb(0, 47, 255);
    cursor: default;

    font-size: 25px;
}


.idcard .text-data .job
{
    font-size: 15px;
    font-weight: 500; /*font-weight font-weight font-weight font-weight */
}
.idcard .media-button
{
    display: flex;
    list-style: none;
    
    align-items: center;
    margin-top: 15px;
    
}



.idcard .media-button a
{
    background-color: aqua;
    height: 34px;
    width: 34px;
    margin: 0 10px;
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: 20px;
    transition: 1s;



}

a:hover
{
    transform: rotate(360deg);
}

.idcard  .btn
{
   display: flex;
   
   
   margin-top: 20px;
}

.idcard .btn .button 
{
    margin: 0 10px;
    padding: 8px 24px 10px;
    background-color: rgba(22, 64, 255, 0.795);
    border-radius: 24px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-family: cursive;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 15px;
}


.idcard .btn .button:hover 
{
    background: #4d3c97;
    box-shadow: 0px 0px 10px 5px rgb(121, 91, 250);
    

}
